/*---------- Carousel ----------*/	

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 80px;
  width: 40px;
}


.carouselCards .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border-color: black;
  transition: transform 0.3s ease-in-out;
}

.carouselCards .card-body {
  text-align: center;
  color: white;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.carouselCards .card-img-top {
  object-fit: cover;
  height: 200px;
  border-radius: 0;
  border: none;
}

.carouselCards .card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}


/*---------- Divider ----------*/

.divider {
  width: 70%;
  height: clamp(40px, 6vw, 90px);
  background-image: url('/images/divider.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}


/*---------- Cards ----------*/


#listingCards .card {
  height: 380px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

#listingCards .card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#listingCards .card-img-top {
  flex-shrink: 1;
  height: 270px;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  border: none;
}

#listingCards .card-header {
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#listingCards .card-title {
  font-size: 1.1rem;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#listingCards .card-img-overlay {
  position: absolute;
  left: -15px;
  bottom: 0;
  padding: 15px;
}

#listingCards .card-footer span {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#listingCards .card-footer span:hover {
  text-decoration: underline;
}

#listingCards .card-footer {
  margin-top: auto;
  padding: 10px;
}



/*---------- Image Modal ----------*/

.custom-image-modal .modal-dialog {
  width: 80vw;
}

.custom-image-modal .modal-content {
  max-height: 100%;
  overflow: hidden;
}

.custom-image-modal #modalImage {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}


/*---------- Loader/Spinner ----------*/

.loading-indicator {
  display: none;
  text-align: center;
  margin-top: 40px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid var(--color-dark-grey);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}