/*---------- Carousel ----------*/	

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev {
  left: -60px; /* Flytt pilene til venstre for kortene */
}

.carousel-control-next {
  right: -60px; /* Flytt pilene til høyre for kortene */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}


/*---------- Divider ----------*/

.divider {
  width: 70%;
  height: clamp(40px, 6vw, 90px);
  background-image: url('/images/divider.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}


/*---------- Card ----------*/

.card {
  height: 380px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay {
  position: absolute;
  left: -15px;
}

.card-footer span {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-footer span:hover {
  text-decoration: underline;
}

.card-footer {
  margin-top: auto;
}


/*---------- Image Modal ----------*/

.custom-image-modal .modal-dialog {
  width: 80vw;
}

.custom-image-modal .modal-content {
  max-height: 100%;
  overflow: hidden;
}

.custom-image-modal #modalImage {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}





