/*---------- variants ----------*/

:root {
  --color-dark-grey: #595959;
  --color-error-red: #F21B07;
}


html,
body {
  height: 100%;
}

.forFixedNav{
  margin-top: 115px
}

.FixedNav{
  margin-top: 135px
}